@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
}

h1{
    font-size: 50px;
    font-weight: 300;
}

h2 {
    font-weight: 100;
}

main {
    background-image: url(../img/crumpled-paper.jpg);
}

table {
    background-color: #B8B8B8;
}

.product-picture {
    float: left;
    height: 300px;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.glyphicon-thumbs-up:hover {
    background-color: #3DBA0B;
}

.glyphicon-thumbs-down:hover{
    background-color: #FF0000;
}

th {
   font-style: oblique;
   font-weight: 300;
}

.addForm {
    clear: both;
}
